{% extends 'products/base.html' %}
{% block content %}
<div class="container-fluid mt-2 mb-5">
    <div class="products">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"><span
                        class="font-weight-bold text-uppercase">Luxury Couch</span>
                    <div><img src="https://img.icons8.com/windows/100/000000/list.png" width="30"/> <img
                            src="https://img.icons8.com/ios-filled/100/000000/squared-menu.png" width="25"/></div>
                </div>
                <div class="row g-3">
                    {% for product in products %}
                    <div class="col-md-4">
                        <div class="card"><a href="{% url 'order' product.id%}"><img src="{{product.image.url}}"
                                                                                     class="card-img-top" width="300"
                                                                                     height="400"></a>
                            <div class="card-body">
                                <div class="d-flex justify-content-between"><span class="font-weight-bold">{{product.name}}</span>
                                    <span class="font-weight-bold">${{product.price}}</span></div>
                                <p class="card-text mb-1 mt-1">{{product.description}}</p>
                                <div class="d-flex align-items-center flex-row"><img
                                        src="https://i.imgur.com/e9VnSng.png" width="20"> <span class="guarantee">{{product.type}}</span>
                                </div>
                            </div>
                            <hr>
                            <div class="card-body">
                                <div class="text-right buttons">
                                    <button class="btn btn-outline-dark">add to wishlist</button>
                                    <a class="btn btn-light" href="{% url 'order' product.id%}">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}